<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a routerLink="/restaurante" class="nav-item nav-link" href="#">Restaurante</a>
      <a routerLink="/pratos" class="nav-item nav-link" href="#">Pratos</a>
      
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



