<form #createForm="ngForm" autocomplete="off" (submit)="onSubmit(createForm)">

  <input type="hidden" name="res_id" [value]="service.res_id" >
  <input type="hidden" name="res_status" [value]="1" >
  <input type="hidden" name="res_dt_cadastro" [value]="service.res_dt_cadastro" >

    <div class="form-group">
        <div class="input-group ">
      <div class="col-sm-2"><label>Nome</label></div>
      <div class="col-sm-8">
        <input name="res_nome" #res_nome="ngModel" [(ngModel)]="service.res_nome" type="text" class="form-control" placeholder="Restaurante">
      </div>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
          <button class="btn btn-success btn-lg btn-block" type="submit" >Salvar</button>
      </div>
  </div>

</form>

{{createForm.value | json}}