

<!-- {{editForm.value | json}}
{{isLoadingResults}} -->

<div class="card">
    <div class="card-body">
        <!-- <div class="row"> -->
            <div class="col-12 ">
                <h3> Editar Restaurante</h3>
                <form novalidate class="form-horizontal" *ngIf="restaurante?.res_id" #editForm="ngForm" autocomplete="off" (submit)="onSubmit(editForm)">
                    
                    <input *ngIf="restaurante?.res_id" type="hidden" #res_id="ngModel" name="res_id" [(ngModel)]="restaurante.res_id" >
                    <input *ngIf="restaurante?.res_status" type="hidden" #res_status="ngModel" name="res_status" [(ngModel)]="restaurante.res_status" >
                    <input *ngIf="restaurante?.res_dt_cadastro" type="hidden" #res_dt_cadastro="ngModel" name="res_dt_cadastro" [(ngModel)]="restaurante.res_dt_cadastro" >

                    
                    <div class="form-group">
                        <label>Nome</label>
                        <input name="res_nome" #res_nome="ngModel"  [(ngModel)]="restaurante.res_nome" type="text" class="form-control" placeholder="Restaurante" required minlength="4">
                        <div *ngIf="res_nome.invalid && (res_nome.dirty || res_nome.touched)" class="alert alert-danger">
                          <div *ngIf="res_nome.errors.required">Digite o nome.</div>
                          <div *ngIf="res_nome.errors.minlength">Nome deve conter nome minimo 4 caracteres.</div>
                          <div *ngIf="res_nome.errors.forbiddenName">O nome não pode começar com Rafael.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" [disabled]="!editForm.form.valid" >Salvar</button>
                    </div>
                </form>
            </div>
        <!-- </div> -->
    </div>
</div>