<form>
<br>
    <div class="row">
        <div class="form-group col-lg-2">
            <button routerLink="/restaurante/restaurante-cadastrar" class="btn btn-success btn-lg btn-block" type="menu" >+ Novo</button>
        </div>
      </div>



  <div class="form-group">
    <table class="table table-hover">
        <thead>
            <th># Id</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Dt. Cadastro</th>
            <th>Opções</th>
            </thead>
            <tbody>
      <tr *ngFor="let pd of list">
        <td>{{pd.res_id}}</td>
        <td>{{pd.res_nome}}</td>
        <td>{{pd.res_status ? "Ativo" : "Inativo"}}</td>
        <td>{{pd.res_dt_cadastro  | date: 'dd/MM/yyyy'}}</td>
        <td >
          <div style="display: flex; flex-direction: row;">
              <button [routerLink]="['restaurante-editar', pd.res_id]" class="btn btn-primary btn-sm" type="menu" >Editar</button>
              <button class="btn btn-danger btn-sm" type="menu" >Deletar</button>
          </div>

            
        </td>
      </tr>
    </table>
  </div>
</form>